.project-card{
    width: 100%;
    max-width: 325px;
}

.project-card-50-pct{
    .project-card{
        max-width: unset
    }
}

.task-description-box{
    height: 125px;
    resize: none;
    overflow: auto;
}

.scaled-card{
    min-width: 325px;
}

.dual-scroll-view{
    height: 80vh;
}

.users-box{
    height: calc(100% - 150px);
}


.table-view{
    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        .header{
            background: #cacaca;

        }
        tbody{
            td{
                border-bottom: 1px solid #ccc;
            }
        }
    }
}


.table-hover{
    img{
        opacity: 0;
    }

    &:hover{
        img{
            opacity: 1;
        }
    }
}
